[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-compressor = "*"
num2words = "*"
whitenoise = "*"
reportlab = "==3.6.13"
xhtml2pdf = "*"
celery = "*"
django-redis = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.11"
