<section class="container mx-auto p-6 font-mono">
	<div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
		<div class="w-full overflow-x-auto">
			<table class="w-full">
				<thead>
					<tr
						class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
						<th class="px-4 py-3">nom du client</th>
						<th class="px-4 py-3">montant total</th>
						<th class="px-4 py-3">intermédiaire</th>
						<th class="px-4 py-3">Extra</th>
					</tr>
				</thead>
				<tbody class="bg-white">
					{% for reserve in reservations %}
					<tr class="text-gray-700">
						<td class="px-4 py-3 border">
							<div class="flex items-center text-sm">
								<div>
									<p class="font-semibold text-black">
										{{reserve.client}}
									</p>
								</div>
							</div>
						</td>
						<td class="px-4 py-3 text-ms font-semibold border">
							{{reserve.price}}
						</td>
						<td class="px-4 py-3 text-xs border">
							<span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm">
								{% if reserve.interms.get.type == "b" %}
								Booking
								{% else %}
								Client direct
								{% endif %}
							</span>
						</td>
						<td class="px-4 py-3 text-sm border">
							{% for other in reserve.other.all %} {{other.price}}
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>