{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="fr" class="h-full bg-gray-50">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="stylesheet"
			href="{% static 'src/output.css' %}"
			type="text/css"
			charset="utf-8"
		/>

		<script
			src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"
			defer
		></script>
		<title>App</title>
	</head>

	<body class="h-full">
		{% block content %}{% endblock content %}
	</body>
</html>
